<head>
  <link rel="stylesheet" type="text/css" href="homepage.css">
</head>

<!--if not logged in-->
<% if session[:user_id] %>
    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>
    <h2>Current Users</h2>
    <h4>sort</h4>
    <form action="/">
      <input type="radio" name="order" value="asc">Ascending<br>
      <input type="radio" name="order" value="desc">Descending<br>
      <button type="submit">Sort</button>
    </form>

    <ul>
      <% @database_connection.sql(@string).each do |user| %>
          <% if user["id"] != session[:user_id] %>
              <li><%= user["username"] %></li>
          <% end %>
      <% end %>
    </ul>

    <!--<form action="/login" method="post"><button type="submit">Sort</button></form>-->
<% else %>
    <a href="/registration">Registration</a>

    <form action="/login" method="post">
      username <input type="text" name="username">
      password <input type="password" name="password">
      <button type="submit">Login</button>
    </form>



<% end %>