/* ----- =structure ----- */

body {
    background-color: #ffffff;

}

header {
    background-color: #c5c5c5;
}

header img {
    width: 300px;
    height: 100px;
}

nav {
    background-color: #f4f4f4; /* Light Grey */
    height: 30px;
}

#content {
    background-color: #fff; /* White */
}

footer {
    background-color: #c5c5c5; /* Dark Grey */
}

.wrapper {
    margin: auto;
    width: 980px;
}

/* ----- =columns ----- */

.one_half {
    width: 460px;
}

.one_third {
    width: 300px;
}

.two_third {
    width: 620px;
}

.one_fourth {
    width: 220px;
}

.three_fourth {
    width: 700px;
}

.full_column {
    width: 940px;
}

article {
    position: relative;
    margin-left: 20px;
    margin-bottom: 16px;
    float: left;
    /*border: solid #000 1px;*/
}

#registration_button {
    display: block;
    width: 100%;
    height: 200px;
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#login_button {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix {
    *zoom: 1;
}

/* DEMO STYLE - Box Outlines  */

article {
    box-sizing: border-box;
    /*border: solid #000 1px;*/
    padding: 10px;
}

#box {
    box-sizing: border-box;
    border: solid #000 1px;
    padding: 10px;
    width: 100%;
    margin: auto;
}

section {
    box-sizing: border-box;
    /*border: solid red 1px;*/
    padding: 20px 0 10px 0;
}

.form_width {
    width: 100%;
}

#submit_button {
    width: 100%;
    height: 50px;
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#create_fish_button {
    width: 30%;
    height: 30px;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: right
}

#logout_button {
    width: 100%;
    height: 50px;
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#flash_confirm {
    color: green;
}

#flash_box {
    height: 20px;
}

h1 {
    text-align: left;
}

h2 {
    text-align: center;
}

div{
    height:100px;
    width:100px;
}

h3{
    width:30px;
    margin-top:-20px;
    margin-left:5px;
    background:white;
}

table
{
    border:1px solid black;
    border-collapse:collapse;
    width: 100%;
    margin: auto;
}

.new_table th { background-color:darkgrey;color:black; width: 50%; text-align: left;}
.new_table tr:nth-child(even) td{ background-color:lightgray;color:black; }
.new_table tr:nth-child(odd) td{ background-color:white;color:black; }

.user_sort {border:1px solid black; width: 23%; margin: auto;}
.sort_button {width: 100%}


/*.my_table,th,td*/
/*{*/
    /*background-color:#FFFFE0;border-collapse:collapse;*/
    /*background-color:#BDB76B;color:white;*/
    /*padding:5px;border:1px solid #BDB76B;*/
/*}*/